@charset 'utf-8';

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
  --Darck-100: #000;
  --Darck-60: #666666;
  --Light-100: #fff;
  --btn: #b4b4b4;
  --border: #bababa;

  --main-color: #9fb3d0;
  --main-color2: #c9d3e2;
  --main-color3: #efefef;
}

::selection {
  background: var(--main-color2);
  color: #fff;
}

section {
  margin-bottom: 20rem;
  margin-bottom: 10.4167%;
}

html {
  font-size: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font: 2rem/1.5 Pretendard, sans-serif;
  color: var(--Darck-100);
  text-transform: capitalize;
  word-break: keep-all;
  overflow-x: hidden;
  min-width: 36rem;
  background: var(--Light-100);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: var(--main-color);
}

img {
  vertical-align: top;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.hidden {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.inner {
  width: 142rem;
  margin: 0 auto;

  width: 73.9583%;
}

/* s.header */
header {
  background: var(--Light-100);
  border-bottom: 1px solid var(--border);
  position: fixed; /* posf : 헤더가 고정 되서 내려오게 만드는것 */
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  transition: 0.3s;
}

header nav {
  display: flex;
  height: 14.8rem;
  /* background: #5f5f; */
  justify-content: space-between;
  align-items: center;
}

.logo a {
  display: block;
  width: 15rem;
  height: 9rem;
  background: url(https://cdn.imweb.me/thumbnail/20240814/03af0d94738fa.png)
    no-repeat 50% / contain;
}

.gnb {
  display: flex;
}

.gnb li a {
  /* border: 1px solid #000; */
  display: block;
  color: var(--Darck-100);
  font-weight: 700;
  font-size: 2rem;
  padding: 1.3rem 5rem;
}

.gnb li:hover a {
  color: var(--main-color);
}

.btn {
  display: none;
}

.util-menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.join {
  padding: 1.5rem 2rem;

  font-weight: 600;
  font-size: 1.8rem;
  font-size: clamp(1.4rem, 1.2676vw, 1.8rem);

  color: #fff;
  background: var(--Darck-100);
  border-radius: 5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  padding: 1.5rem 2rem;

  font-weight: 600;
  font-size: 1.8rem;
  font-size: clamp(1.4rem, 1.2676vw, 1.8rem);

  color: #fff;
  background: var(--Darck-100);
  border-radius: 5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.join:hover,
.login:hover {
  color: var(--Light-100);
  background: var(--main-color);
}

.mobile-btn {
  display: none;
  width: 3.2rem;
  height: 0.7rem;
  margin-left: 2rem;
  background: url(../img/more-icon.svg) no-repeat 50% / contain;
}
/* e.header */

/* 모바일 메뉴 */
.mobile-menu.active {
  right: 0;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 70%;
  height: 100vh;
  background: var(--main-color2);
  color: var(--Light-100);
  transition: 0.4s;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;

  z-index: 1000;
}

.mobile-btn-close {
  position: absolute;
  top: 7rem;
  right: 5.2rem;
  width: 3.2rem;
  height: 3.2rem;
  background: url(../img/close-icon.svg) no-repeat 40% / contain;
  z-index: 1000;
}

.mobile-gnb {
  margin-top: 15rem;
}

.mobile-gnb li a {
  font-weight: 600;
  font-size: 2.2rem;
  display: block;
  padding: 2.5rem 0;
  text-align: center;
}

/* 모바일 메뉴 end */

/* s. footer */
#footer {
  padding: 11.9rem 0 11.6rem;
  background: var(--main-color3);

  padding: 6.1979% 0 6.0417%;
}

.footer-con {
  display: flex;
  justify-content: space-between;
  padding-top: 9.7rem;

  padding-top: 6.3816%;
}

.foot-logo {
  display: block;
  width: 23.7rem;
  height: 13.4rem;
  background: url(https://cdn.imweb.me/thumbnail/20240814/03af0d94738fa.png)
    no-repeat 50% / contain;

  width: 15.6579%;
}

.foot-nav {
  display: flex;
  overflow-x: auto;
}

.foot-nav li {
  padding: 0 4rem;
  position: relative;
  flex-shrink: 0;
  font-size: 2rem;
  font-weight: 700;
  color: var(--Darck-100);

  padding: 0 clamp(1rem, 2.4673vw, 4rem);

  font-size: clamp(0.9rem, 1.042vw, 2rem);
}

.foot-nav li::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 0.1rem;
  height: 1rem;
  background: rgba(0, 0, 0, 0.3);
}

.foot-nav li:nth-child(1) {
  content: "";
  padding-left: 0;
}

.foot-nav li:nth-child(6)::after {
  content: "";
  display: none;
  padding-right: 0;
}

address {
  display: flex;
  padding-top: 4.8rem;
  flex-direction: column;
  gap: 2.8rem;

  font-size: 1.8rem;
  font-weight: 400;
  color: var(--Darck-100);

  padding-top: 5.5172%;
  font-size: clamp(0.9rem, 0.885vw, 1.8rem);
}

/* e.footer  */

/* 반응형 000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 */
@media screen and (max-width: 1320px) {
  .gnb {
    display: none;
  }

  .gnb-btn {
    display: flex;
    align-items: center;
    gap: 5.5rem;
  }

  .mobile-btn {
    display: block;
  }
}

@media (max-width: 900px) {
  .footer-con {
    flex-direction: column-reverse;
    align-items: center;
  }

  .foot-text {
    padding-bottom: 4.5rem;
  }

  .foot-logo {
    width: 16.8rem;
    height: 3.6rem;
  }
}

@media screen and (max-width: 980px) {
  .inner {
    width: 90%;
  }

  .join,
  .login {
    display: none;
  }
}

@media (max-width: 430px) {
  .footer-con {
    padding-top: 4.1rem;
  }
}
