@charset "utf-8";

/* visual */
.visual {
  position: relative;
  background: var(--Light-100);
  height: 55rem;
  border-bottom: 1px solid var(--border);
}

.visual-text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: var(--Darck-100);
  text-align: center;

  z-index: 1;
}

.visual-text h2 {
  font-size: 6.5rem;
  font-weight: 600;

  font-size: clamp(4rem, 3.38541vw, 6.5rem);
}

/* visual end */

/* about */
.about-text {
  flex: 1 1 max(40%, 300px);
  /* border: 1px solid #000; */
}

.about-con li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5%;
}

.about-con li:nth-child(odd) {
  flex-direction: row-reverse;
}

.about-con dl dt {
  padding-top: 3rem;
  font-size: 4rem;
  font-weight: 700;

  padding-top: 4.4313%;
  font-size: clamp(2.2rem, 2.0833vw, 4rem);
}

.about-con dl dd {
  padding-top: 2rem;
  font-size: 2.4rem;
  font-weight: 400;
  color: var(--Darck-60);

  padding-top: 2.9542%;
  font-size: clamp(1.5rem, 1.25vw, 2.4rem);
}

.about-con figure {
  height: 47rem;

  flex: 1 1 max(40%, 300px);
}

.about-con figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* about end */

.about-con li {
  flex-direction: row !important;
}

@media (max-width: 1024px) {
  .about-con figure {
    height: 28.6rem;
  }
}

@media (max-width: 980px) {
  .about-text {
    padding-bottom: 2.2rem;
  }
}

@media (max-width: 400px) {
  .about-con li :last-child {
    margin-bottom: 2.5rem;
  }
}
