@charset "utf-8";

/* visual */
.visual {
  position: relative;
  background: var(--Light-100);
  height: 55rem;
  border-bottom: 1px solid var(--border);
}

.visual-text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: var(--Darck-100);
  text-align: center;

  z-index: 1;
}

.visual-text h2 {
  font-size: 6.5rem;
  font-weight: 600;

  font-size: clamp(4rem, 3.38541vw, 6.5rem);
}

/* visual end */

/* about */
.about-text {
  flex: 1 1 max(40%, 300px);
  /* border: 1px solid #000; */
}

.about-con {
  display: flex;
  flex-wrap: wrap;
  gap: 20rem;
}

.about-con li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5%;
}

.about-con li:nth-child(odd) {
  flex-direction: row-reverse;
}

.about-con dl dt {
  padding-top: 3rem;
  font-size: 4rem;
  font-weight: 700;

  padding-top: 4.4313%;
  font-size: clamp(2.2rem, 2.0833vw, 4rem);
}

.about-con dl dd {
  padding-top: 2rem;
  font-size: 2.4rem;
  font-weight: 400;
  color: var(--Darck-60);

  padding-top: 2.9542%;
  font-size: clamp(1.5rem, 1.25vw, 2.4rem);
}

.about-con figure {
  height: 47rem;

  flex: 1 1 max(40%, 300px);
}

.about-con figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* about end */

/* event */
.event-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8.4rem 2rem;
}

.event-list-3 {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.event-list li {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 49.2rem;
  width: 32.3684%;
}

.event-list li figure {
  position: relative;
  width: 100%;
  border-radius: 2.4rem;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.event-list > li figure::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(53, 89, 128);
  pointer-events: none;
  opacity: 0;
  transition: 0.4s;
}

.event-list > li:hover figure::after {
  opacity: 0.3;
}

.event-list li img {
  width: 100%;
  height: 100%;
}

.event-list li {
  text-align: center;
}

.event-text {
  padding-top: 2.8rem;
}

.event-text dt {
  font-size: clamp(1.5rem, 1.25vw, 2.4rem);
  font-weight: 800;
  color: var(--Darck-100);

  /* font-size: clamp(1.2rem, 1.25vw, 2.4rem); */
}

.event-text dd {
  padding-top: 1rem;
  font-size: clamp(1.3rem, 1.042vw, 2rem);
  font-weight: 600;
  color: var(--Darck-60);

  /* font-size: clamp(0.9rem, 1.0416vw, 2rem); */
}

/* 반응형  000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/
@media (max-width: 1900px) {
  .event-list li {
    width: 35rem;
  }

  .event-list li figure {
    width: 30rem;
    height: 25rem;
  }
}

@media (max-width: 1470px) {
  .event-list > li {
    flex: 1 1 40%;
  }

  .event-list {
    gap: 3rem;
  }
}

@media (max-width: 1024px) {
  .about-con figure {
    height: 28.6rem;
  }
}

@media (max-width: 980px) {
  .about-text {
    padding-bottom: 2.2rem;
  }

  .event-list {
    padding-top: 4rem;
    gap: 2rem;
  }
  .event-list > li figure {
    height: 28.2rem;
  }

  .event-list > li {
    flex: 1 1 50%;
  }
}

@media (max-width: 890px) {
  .visual {
    height: 57.6rem;
  }

  .visual figure img {
    height: 57.6rem;
  }

  .visual-text {
    gap: 0.9rem;
  }
}

@media (max-width: 620px) {
  .event-list {
    padding-top: 4rem;
  }

  .event-list > li {
    flex: 1 1 100%;
  }
}

@media (max-width: 400px) {
  .about-con li :last-child {
    margin-bottom: 2.5rem;
  }
}
